/* .column-home {
    width: 100%;
    float: right;
}

.column-home-left {
    width: 75%;
}
.column-home-right {
    width: 25%;
    float: right;
} */

.report h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    margin-left: 21%;
    margin-top: 90px;
}

.report a {
    font-weight: bold;
    font-size: smaller;
    font-family: "Poppins";
    color: black;
    margin-left: 67%;
    top: 91px;
    position: absolute;
}

.report a:hover {
    opacity: 0.7;
}

.column-report {
    float: left;
    width: 50%;
}

.rect-tokped {
    background: #f8f7f2;
    width: 48.5%;
    height: 165px;
    margin-left: 41%;
    border-radius: 12px;
}

.rect-shopee {
    background: #f8f7f2;
    width: 48.5%;
    height: 165px;
    border-radius: 12px;
    margin-left: -2.75%;
}

.popular-products h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    margin-left: 21%;
    margin-top: 210px;
}

.column-popular {
    float: left;
    width: 25%;
}

.popular {
    margin-left: 20.5%;
    margin-right: 24%;
}

.rect1 {
    /* background: #f8f7f2; */
    width: 150px;
    height: 150px;
    /* margin-left: 83%; */
    border-radius: 12px;
}
/*
.rect2 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: 39%;
}

.rect3 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: -5%;
}

.rect4 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: -50%;
} */

.all-products h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    margin-left: 21%;
    margin-top: 205px;
}

.all-products a {
    font-weight: bold;
    font-size: smaller;
    font-family: "Poppins";
    color: black;
    margin-left: 67%;
    top: 550px;
    position: absolute;
}

.all-products a:hover {
    opacity: 0.7;
}

.finance h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    left: 80%;
    top: 90px;
    position: absolute;
}

.finance h4 {
    font-weight: bold;
    font-size: x-small;
    font-family: "Poppins";
    color: black;
    left: 86.5%;
    top: 97px;
    position: absolute;
}

.finance1 {
    font-size: 30px;
}

.netprofit-text {
    /* font-weight: bold; */
    font-size: smaller;
    font-family: "Poppins";
    color: black;
    left: 40px;
    top: 0;
    position: absolute;
}

.netprofit-amt {
    font-weight: bold;
    font-size: medium;
    font-family: "Poppins";
    color: black;
    left: 40px;
    top: 20px;
    position: absolute;
}

.fee-text {
    /* font-weight: bold; */
    font-size: smaller;
    font-family: "Poppins";
    color: black;
    left: 40px;
    top: 0;
    position: absolute;
}

.fee-amt {
    font-weight: bold;
    font-size: medium;
    font-family: "Poppins";
    color: black;
    left: 40px;
    top: 20px;
    position: absolute;
}

.restock h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    left: 80%;
    top: 270px;
    position: absolute;
}

.warning1 {
    font-size: 25px;
}

.stock-text {
    font-weight: bold;
    font-size: smaller;
    font-family: "Poppins";
    color: black;
    margin-left: 40px;
    margin-top: 0;
    display: flex;

    /* position: absolute; */
}

.stock-qty {
    /* font-weight: bold; */
    font-size: smaller;
    font-family: "Poppins";
    color: black;
    margin-left: 40px;
    margin-top: 10px;
    /* position: absolute; */
}

.stock-all {
    margin-top: 5px;
}

.stockk {
    float: right;
    margin-left: 20%;
    margin-top: -21%;
}

#chart1 {
    width: 740px;
    position: relative;
    left: 303px;
    top: 184px;
}

#chart2 {
    width: 740px;
    position: relative;
    left: 303px;
    top: 184px;
}
