.report h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    margin-left: 300px;
    margin-top: 90px;
}

.column-report {
    float: left;
    width: 50%;
}

.rect-tokped {
    background: #f8f7f2;
    width: 310px;
    height: 150px;
    margin-left: 300px;
    border-radius: 12px;
}

.rect-shopee {
    background: #f8f7f2;
    width: 310px;
    height: 150px;
    border-radius: 12px;
}

.popular-products h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    margin-left: 300px;
    margin-top: 185px;
}

.column-popular {
    float: left;
    width: 25%;
}

.rect1 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    margin-left: 300px;
    border-radius: 12px;
}

.rect2 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: 150px;
}

.rect2 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: 150px;
}

.rect3 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.rect4 {
    background: #f8f7f2;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-left: -150px;
}

.all-products h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    margin-left: 300px;
    margin-top: 185px;
}
