body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}

.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 700;
}

/* DATE TIME PICKER */
.calendar{
    position: absolute;
    left: 15%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding:5px;
    width: 150px;
}

.datetitle{
    font-family: Poppins;
    font-size:smaller;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
}

.platformtitle{
    font-family: Poppins;
    font-size: smaller;
    position: absolute;
    left: 45%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
}

.dropdown-show2{
    position: absolute;
    left: 60%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    background-color: #FFFFFF;
}

.dropdown-show3{
    position: absolute;
    left: 15%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    background-color: #FFFFFF;
}

.baris1 {
    background-color: #f7f7f7;

    height: 50px;
    position: absolute;
    top: 150px;
    padding: 30px;
    width: 70%;
    left:305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.baris2 {
    height: 50px;
    position: absolute;
    top: 220px;
    padding: 30px;
    width: 70%;
    left: 305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.baris3 {
    height: 50px;
    position: absolute;
    top: 290px;
    padding: 30px;
    width: 70%;
    left:305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.numericupdown {
    position: absolute;
    left: 60%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.buttonadd {
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.totaltransaction {
    height: 50px;
    position: absolute;
    top: 700px;
    padding: 30px;
    width: 70%;
    left: 305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.inputtotaltrans {
    position: absolute;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
}

.totalplatfee {
    height: 50px;
    position: absolute;
    top: 750px;
    padding: 30px;
    width: 70%;
    left: 305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.totalfee {
    position: absolute;
    right: 25%;
    width: 100px;
    font-family: Poppins;
    font-size: smaller;
    font-weight: 700;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.inputtotalfee {
    position: absolute;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
}

.hrhasil {
    width: 26%;
    color:black;
    left: 200px;
    margin-left: 50%;
    top: 790px;
    position:absolute;
}

.totalakhir {
    height: 50px;
    position: absolute;
    top: 810px;
    padding: 30px;
    width: 70%;
    left: 305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.totalakhirr {
    position: absolute;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    font-family: Poppins;
    font-size:small;
    text-align: right;
    font-weight: 700;
}

.buttonbutton {
    height: 50px;
    position: absolute;
    top: 850px;
    padding: 30px;
    width: 70%;
    left: 305px;
    margin-left: 50%;
    transform: translateX(-70%);
    /* padding-bottom: 110px; */
}

.buttondelete {
    position: absolute;
    right: 15%;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.buttoninsert {
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}
