body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}

.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 700;
}

/* DATE TIME PICKER */
.calendar{
    position: absolute;
    left: 15%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding:5px;
    width: 150px;
}

.datetitle{
    font-family: Poppins;
    font-size:smaller;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
}

.platformtitle{
    font-family: Poppins;
    font-size: smaller;
    position: absolute;
    left: 50%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
}

.dropdown-show2{
    position: absolute;
    left: 65%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    background-color: #FFFFFF;
}

.dropdown-show3{
    position: absolute;
    left: 15%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    background-color: #FFFFFF;
}

.baris1 {
    background-color: #f7f7f7;

    height: 50px;
    position: absolute;
    top: 150px;
    padding: 30px;
    width: 70%;
    left:305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.baris2 {
    height: 50px;
    position: absolute;
    top: 220px;
    padding: 30px;
    width: 70%;
    left: 305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.baris3 {
    height: 50px;
    position: absolute;
    top: 290px;
    padding: 30px;
    width: 70%;
    left:305px;
    margin-left: 50%;
    transform: translateX(-70%);
}

.numericupdown {
    position: absolute;
    left: 65%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.buttonadd {
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.totaltransaction {
    height: 50px;
    width: 30%;
    /* transform: translateX(200%); */
    transform: translateX(305px);
    margin-left: 40%;
    margin-top: 400px;
    padding: 30px;
    padding-top: 15px;
}

.inputtotaltrans {
    float: right;
    width: 180px;
    transform: translateY(-50%);
    font-family: Poppins;
    font-size: medium;
    font-weight: 700;
    margin: 0;
    text-align: right;
}

.totalplatfee {
    height: 50px;
    width: 30%;
    transform: translateX(305px);
    margin-left: 40%;
    padding: 30px;
    padding-top: 15px;
}

.totalfee {
    float: left;
    width: 70px;
    font-family: Poppins;
    font-size: smaller;
    font-weight: 700;
    margin: 0;
    transform: translateY(-50%);
/*
    position: absolute;
    right: 25%;
    width: 100px;
    font-family: Poppins;
    font-size: smaller;
    font-weight: 700;
    margin: 0;
    top: 50%;
    transform: translateY(-50%); */
}

.inputtotalfee {
    float: right;
    width: 180px;
    transform: translateY(-50%);
    font-family: Poppins;
    font-size: medium;
    font-weight: 700;
    margin: 0;
    text-align: right;
}

.hrhasil {
    width: 26%;
    color:black;
    /* transform: translateX(240%); */
    transform: translateX(350px);
    margin-left: 40%;
    /* width: 26%;
    color:black;
    left: 200px;
    margin-left: 50%;
    top: 790px;
    position:absolute; */
}

.totalakhir {
    height: 50px;
    width: 30%;
    transform: translateX(305px);
    margin-left: 40%;
    padding: 30px;
    padding-top: 15px;
}

.totalakhirr {
    /* position: absolute;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    font-family: Poppins;
    font-size:small;
    text-align: right;
    font-weight: 700; */

    float: right;
    width: 70px;
    font-family: Poppins;
    font-size: medium;
    font-weight: 700;
    margin: 0;
    text-align: right;
    transform: translateY(-50%);
}

.buttonbutton {
    height: 50px;
    width: 30%;
    padding: 30px;
    padding-top: 15px;
    transform: translateX(305px);
    margin-left: 40%;
}

.buttondelete {
    position: absolute;
    right: 30%;
    margin-right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.buttoninsert {
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}
