body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}

.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 700;
}

.baris1 {
    background-color: #f7f7f7;
    height: 50px;
    position: absolute;
    top: 150px;
    padding: 30px;
    width: 70%;
    left:305px;
    margin-left: 50%;
    transform: translateX(-70%);
    z-index: 10;
}

.viewcat{
    position: absolute;
    left: 87%;
    top: 27%;
    color: black;
}

.viewcat:hover{
    position: absolute;
    left: 87%;
    top: 27%;
    color: black;
    text-decoration: underline;
}

.butinsertproduct {
    position: absolute;
    top: 95px;
    right: 6.8%;
}

.button-apply{
    position: absolute;
    left: 610px;
    top: 165px;
    z-index: 99;
}
