body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}

.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 700;
}

.dropdown-show2{
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    background-color: #FFFFFF;
    letter-spacing: 1px;
}

.baris1 {
    background-color: #f7f7f7;
    height: 50px;
    position: absolute;
    top: 150px;
    padding: 13px 0px 0px 30px;
    width: 1075px;
    left: 70%;
    transform: translateX(-70%);
}

.baris2 {
    /* background-color: #f7f7f7; */
    /* height: 50px; */
    position: absolute;
    top: 210px;
    padding: 13px 0px 0px 30px;
    /* width: 1075px; */
    left: 24%;
    transform: translateX(-70%);
}
