body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}

.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 700;
}

.dropdown-show2{
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    background-color: #FFFFFF;
    letter-spacing: 1px;
}

.baris1 {
    background-color: #f7f7f7;
    height: 50px;
    position: absolute;
    top: 150px;
    padding: 13px 0px 0px 27px;
    width: 35%;
    left:305px;
    margin-left: 25%;
    transform: translateX(-70%);
}

.boxsku {
    position: absolute;
    right: 0;
    margin: 0;
    top: 160px;
    left:305px;
    margin-left: 10%;
    z-index: 10;
}

.boxname {
    position: absolute;
    right: 0;
    margin: 0;
    top: 220px;
    left:305px;
    margin-left: 10%;
    z-index: 10;
}

.boxprice {
    position: absolute;
    right: 0;
    margin: 0;
    top: 340px;
    left:305px;
    margin-left: 10%;
    z-index: 10;
}

.boxqty {
    position: absolute;
    right: 0;
    margin: 0;
    top: 340px;
    left:305px;
    margin-left: 27.4%;
    z-index: 10;
}

.boxcat{
    position: absolute;
    margin: 0;
    top: 280px;
    left:305px;
    margin-left: 10%;
    background-color: #FFFFFF;
}

.boxsize{
    position: absolute;
    margin: 0;
    top: 400px;
    left:305px;
    margin-left: 10%;
    background-color: #FFFFFF;
}

.boxdesc{
    position: absolute;
    margin: 0;
    top: 460px;
    left:305px;
    margin-left: 10%;
    background-color: #FFFFFF;
}

.baris2 {
    position: absolute;
    top: 210px;
    padding: 13px 0px 0px 30px;
    left:305px;
    margin-left: 4%;
    transform: translateX(-70%);
}

.baris3 {
    background-color: #f7f7f7;
    height: 50px;
    position: absolute;
    top: 270px;
    padding: 13px 0px 0px 30px;
    width: 35%;
    left:305px;
    margin-left: 25%;
    transform: translateX(-70%);
}

.baris4-1 {
    position: absolute;
    top: 330px;
    padding: 13px 0px 0px 22px;
    left:305px;
    margin-left: 4%;
    transform: translateX(-70%);
}

.baris4-2 {
    position: absolute;
    top: 330px;
    padding: 13px 0px 0px 22px;
    left:305px;
    margin-left: 24%;
    transform: translateX(-70%);
}

.baris5 {
    background-color: #f7f7f7;
    height: 50px;
    position: absolute;
    top: 390px;
    padding: 13px 0px 0px 30px;
    width: 35%;
    left:305px;
    margin-left: 25%;
    transform: translateX(-70%);
}

.baris6 {
    position: absolute;
    top: 450px;
    padding: 13px 0px 0px 125px;
    left:305px;
    margin-left: 4%;
    transform: translateX(-70%);
}

.buttondel{
    position: absolute;
    top: 560px;
    border-radius: 8px;
    width: 15%;
    left:70px;
    margin-left: 4%;
    transform: translateX(100%);
    border: 1px solid #DEE1E6;
}

.buttonins{
    position: absolute;
    top: 560px;
    border-radius: 8px;
    width: 15%;
    left:300px;
    margin-left: 4%;
    transform: translateX(100%);
    border: 1px solid #DEE1E6;
}

.productphoto{
    overflow:hidden;
    width: 270px;
    height: 270px;
    position: absolute;
    top: 190px;
    left:0px;
    margin-left: 48%;
    transform: translateX(100%);
    background-color: #DEE1E6;
    text-align: center;
}

.productphoto img{
    height: 270px;
}

.buttonimg{
    position: absolute;
    top: 490px;
    border-radius: 8px;
    width: 15%;
    left:0px;
    margin-left: 55%;
    transform: translateX(100%);
    border: 1px solid #DEE1E6;
}
