body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}
.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 600;
}

/* styling dropdown */
.dropdown-show{
    position: absolute;
    left: 318px;
    top: 129px;
}
.dropdown-show2{
    position: absolute;
    left: 445px;
    top: 129px;
}
.dropdown-show3{
    position: absolute;
    left: 580px;
    top: 129px;
}
.dropdown-item{
    font-size: smaller;
}
.button-apply{
    left: 703px;
    position: absolute;
    top: 129px;
}

/* styling income */
.income{
    position: absolute;
    top: 232px;
    right: 142px;
    color: black;
}
.subtitle-income{
    font-size:small;
    font-weight: 500;
}
.subvalue-income{
    font-size:medium;
    font-weight: 600;
}

/* styling table */
.column{
    font-weight: 800;
}
