body{
    font-family: Poppins;
    margin-left: 1000px;
    margin-top: 200px;
}
.title{
    position: absolute;
    left: 318px;
    top: 96px;
    color: black;
    font-weight: 600;
}

/* styling dropdown */
.dropdown-show{
    position: absolute;
    left: 318px;
    top: 129px;
}
.dropdown-show2{
    position: absolute;
    left: 454px;
    top: 129px;
}
.dropdown-show3{
    position: absolute;
    left: 595px;
    top: 129px;
}
.dropdown-item{
    font-size: smaller;
}
.button-apply{
    left: 728px;
    position: absolute;
    top: 128px;
}

/* styling income */
.income{
    position: absolute;
    top: 249px;
    right: 66px;
    color: black;
}
.subtitle-income{
    font-size:small;
    font-weight: 500;
}
.subvalue-income{
    font-size:medium;
    font-weight: 600;
}
.subtitle-report{
    position: absolute;
    left: 324px;
    top: 594px;
    font-size:small;
    font-weight: 500;
}
/* styling chart */
#reportchart{
    width: 700px;
    position: relative;
    left: 303px;
    top: 184px;

}
/* styling table */
.column{
    font-weight: 800;
}

.finance-report h3 {
    font-weight: bold;
    font-size: larger;
    font-family: "Poppins";
    color: black;
    left: 80%;
    top: 195px;
    position: absolute;
}

.finance-report h4{
    font-weight: bold;
    font-size: x-small;
    font-family: "Poppins";
    color: black;
    left: 86.5%;
    top: 200px;
    position: absolute;
}
